pop-modal {
    --dialog-width: 60ch;
    --dialog-speed: 0.27s;
    --bg-lightness: 100%;
    --border-radius: 0.5rem;
    --shadow-color: 0deg 0% 40%;
    --header-opacity: 0.1;
    --text-color-rgb: var(--bs-body-color-rgb, 17, 17, 17);
    --scroll-color: #c1c1c1;
    --scroll-color-hover: #969696;
}

pop-modal[backdrop="false"] {
    --shadow-color: 0deg 0% 70%;
}

/*
When using overflow:hidden scrollbars are hidden. But this can cause a layout shift
if you don't add a padding-inline-end. The scrollbar width variable is computed in js.
*/
html.pop-modal-open {
    overflow: hidden;
    padding-inline-end: var(--scrollbar-width);
}

:is([data-bs-theme="dark"], [data-theme="dark"]) pop-modal {
    --bg-lightness: 30%;
    --shadow-color: 0deg 0% 0%;
    --header-opacity: 0.2;
    --text-color-rgb: var(--bs-body-color-rgb, 222, 226, 230);
    --scroll-color: #6b6b6b;
}

@media (prefers-color-scheme: dark) {
    pop-modal {
        --bg-lightness: 30%;
        --shadow-color: 0deg 0% 0%;
        --header-opacity: 0.2;
        --text-color-rgb: var(--bs-body-color-rgb, 222, 226, 230);
        --scroll-color: #6b6b6b;
    }
}

pop-modal dialog {
    display: grid;
    border: 0;
    border-radius: var(--border-radius);
    margin: auto;
    position: fixed;
    inset: 0;
    padding: 1rem;
    background: hsl(0 0% var(--bg-lightness) / 0.9);
    /* https://www.joshwcomeau.com/shadow-palette/ */
    box-shadow: 0px 1px 1.1px hsl(var(--shadow-color) / 0.38),
        0px 7.9px 8.9px -0.8px hsl(var(--shadow-color) / 0.38),
        0px 22.6px 25.4px -1.7px hsl(var(--shadow-color) / 0.38),
        0px 58px 65.3px -2.5px hsl(var(--shadow-color) / 0.38);

    overscroll-behavior: contain;

    /* Responsive dialog @link https://web.dev/articles/building/a-dialog-component#responsive_dialog_sizing */
    max-inline-size: min(90vw, var(--dialog-width));
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    overflow: auto;
}

pop-modal dialog::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

pop-modal dialog::-webkit-scrollbar-track {
    background: transparent;
}

pop-modal dialog::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: var(--border-radius);
}

pop-modal dialog::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-color-hover);
}

/* On small screens, we can  move mega modals to the bottom of the screen for ease of use */
@media (max-width: 768px) {
    pop-modal[mega] dialog {
        margin-block-end: 0;
        border-end-end-radius: 0;
        border-end-start-radius: 0;
    }
}

pop-modal dialog[open] {
    opacity: 1;
}

pop-modal dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
    pop-modal dialog {
        /* Warning: will-change is intended to be used as a last resort, in order to try to deal with existing performance problems. 
        It should not be used to anticipate performance problems. */
        /* will-change: opacity, transform; */
        transform: translate(0);
        transition: opacity var(--dialog-speed), transform var(--dialog-speed);
    }

    pop-modal dialog:not([open]) {
        transform: translateY(2em);
    }
}


/* Provide some baseline styles for buttons */
pop-modal button:not([class]) {
    border: 0;
    border-radius: var(--border-radius);
    color: rgba(var(--text-color-rgb));
    border: 2px solid rgba(var(--text-color-rgb), 0.25);
    background-color: rgba(var(--text-color-rgb), 0);
    padding: 0.25em 0.5em;
    transition: all 0.25s ease;
}

pop-modal button:not([class]):hover {
    background-color: rgba(var(--text-color-rgb), 0.1);
}

pop-modal button:where([type="reset"], [data-close]):not([class]) {
    margin-inline-end: auto;
}

pop-modal button[data-full]:not([class]) {
    background-color: rgba(var(--text-color-rgb), 0.8);
    border-color: rgba(var(--text-color-rgb), 0);
    color: hsl(0 0% var(--bg-lightness) / 0.9);
}

pop-modal button[data-full]:not([class]):hover {
    background-color: rgba(var(--text-color-rgb), 0.6);
    border-color: rgba(var(--text-color-rgb), 0);
}

pop-modal menu {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

pop-modal menu.center {
    justify-content: center;
}

pop-modal header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background: rgba(0, 0, 0, var(--header-opacity));
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem 1rem 0 1rem;
}

/* Keep in mind that native dialog appears in top layer if supported */
/* @link https://developer.chrome.com/blog/what-is-the-top-layer/ */
/* Css variables are not inherited by default so we have to put them twice */
pop-modal dialog::backdrop {
    --background-rgb: 0, 0, 0;
    --background-opacity: 0.5;
    --backdrop-blur: 2px;
    background: rgba(var(--background-rgb), var(--background-opacity));
    backdrop-filter: blur(var(--backdrop-blur));
}

/* The polyfill uses .backdrop instead of ::backdrop */
/* We need a separate rule because any invalid selector invalidates the whole rule */
pop-modal dialog+.backdrop {
    --background-rgb: 0, 0, 0;
    --background-opacity: 0.5;
    --backdrop-blur: 2px;
    background: rgba(var(--background-rgb), var(--background-opacity));
    backdrop-filter: blur(var(--backdrop-blur));
    z-index: 0;
}